@import url("../js/modules/sign-up/signup-module.css");
@import url("../js/modules/macro-counter/macro-module.css");

#title {
  color: #A37; }

h1 {
  text-align: center; }

/*The styles needed for the signup module*/
