$primary-color: #A37;

#title {
	  color: $primary-color;
}

h1 { 
	text-align: center;
 }

/*The styles needed for the signup module*/

 @import url("../js/modules/sign-up/signup-module.css");