.signUpName, .signUpEmail{
	border: 2px solid green;
	margin-bottom: 8px;
}

.btnSignUp{
	background-color: darkgreen;
	color:white;
	border:none;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
}

/*maybe the validation message styles should come from the site's main .css file???*/
.validation{
	color:red;
}

